trunk/LOTROMusicManager/Web References/com.joshkraker.mylotroband/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://MyLotroBand.JoshKraker.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://MyLotroBand.JoshKraker.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://MyLotroBand.JoshKraker.com">
      <s:element name="GetSongList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="C" type="tns:Credentials" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Credentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSongListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSongListResult" type="tns:SongResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SongResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="E" type="tns:Err" />
          <s:element minOccurs="0" maxOccurs="1" name="Song" type="tns:ArrayOfSong" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Err">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HasError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Song" nillable="true" type="tns:Song" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Song">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SongId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SongName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AddedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArtistName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumParts" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSongListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSongList" />
  </wsdl:message>
  <wsdl:message name="GetSongListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSongListResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetSongList">
      <wsdl:input message="tns:GetSongListSoapIn" />
      <wsdl:output message="tns:GetSongListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSongList">
      <soap:operation soapAction="http://MyLotroBand.JoshKraker.com/GetSongList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSongList">
      <soap12:operation soapAction="http://MyLotroBand.JoshKraker.com/GetSongList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://mylotroband.joshkraker.com/LommService/Alpha/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://mylotroband.joshkraker.com/LommService/Alpha/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>